n8n/daily-operator-briefing.json
{
  "name": "Daily Operator Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "id": "1",
      "name": "Every Morning 7am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/ai/generate-all",
        "options": {}
      },
      "id": "2",
      "name": "Trigger AI Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "minutes"
      },
      "id": "3",
      "name": "Wait 3 min",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/command-center/",
        "options": {}
      },
      "id": "4",
      "name": "Fetch Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/content/drafts/?status=draft",
        "options": {}
      },
      "id": "5",
      "name": "Fetch Drafts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/content/schedule/",
        "options": {}
      },
      "id": "8",
      "name": "Fetch Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 350]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/market/gaps",
        "options": {}
      },
      "id": "9",
      "name": "Fetch Market Gaps",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 500]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://backend:8000/github/repos",
        "options": {}
      },
      "id": "10",
      "name": "Fetch GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [880, 650]
    },
    {
      "parameters": {
        "jsCode": "const dashboard = $('Fetch Dashboard').first().json;\nconst draftItems = $('Fetch Drafts').all().map(i => i.json);\nconst allDrafts = draftItems.length > 0 && draftItems[0].title ? draftItems : [];\nconst scheduleItems = $('Fetch Schedule').all().map(i => i.json);\nconst schedule = scheduleItems.length > 0 && scheduleItems[0].title ? scheduleItems : [];\nconst gapItems = $('Fetch Market Gaps').all().map(i => i.json);\nconst gaps = gapItems.length > 0 && gapItems[0].description ? gapItems : [];\nconst repoItems = $('Fetch GitHub').all().map(i => i.json);\n// Deduplicate repos by name (n8n splits arrays into items)\nconst repoMap = {};\nrepoItems.forEach(r => { if (r.name) repoMap[r.name] = r; });\nconst repos = Object.values(repoMap);\n\nconst tasks = (dashboard.tasks || []).sort((a, b) => b.priority_score - a.priority_score);\nconst top3 = tasks.slice(0, 3);\nconst goals = dashboard.goals_week || [];\nconst goalsMonth = dashboard.goals_month || [];\nconst suggestions = (dashboard.suggestions || []).slice(0, 3);\nconst briefing = (dashboard.briefing || []).slice(0, 5);\nconst projects = dashboard.projects || [];\nconst blockers = projects.filter(p => p.blockers);\nconst totalMin = tasks.reduce((s, t) => s + (t.estimated_minutes || 0), 0);\nconst focusTime = totalMin >= 60 ? (totalMin / 60).toFixed(1) + 'h' : totalMin + 'm';\n\n// --- Today's Game Plan ---\nconst gamePlan = top3.map((t, i) =>\n  '<tr><td style=\"padding:12px 8px;border-bottom:1px solid #1E1E2D;color:#A855F7;font-size:20px;font-weight:bold;vertical-align:top;width:30px\">' + (i+1) + '</td>' +\n  '<td style=\"padding:12px 8px;border-bottom:1px solid #1E1E2D\"><div style=\"color:#E4E4E7;font-weight:600;font-size:15px\">' + t.title + '</div>' +\n  '<div style=\"color:#9494AD;font-size:13px;margin-top:4px\">' + (t.why || '') + '</div>' +\n  '<div style=\"color:#6A6A80;font-size:12px;margin-top:6px\">' + (t.project_tag || '') + ' &middot; ' + (t.estimated_minutes || 30) + ' min</div></td></tr>'\n).join('');\n\n// --- All Tasks ---\nconst taskRows = tasks.map(t =>\n  '<tr><td style=\"padding:8px;border-bottom:1px solid #1E1E2D;color:#E4E4E7\">' + t.title + '</td>' +\n  '<td style=\"padding:8px;text-align:center;border-bottom:1px solid #1E1E2D;color:#A855F7;font-weight:bold\">' + t.priority_score.toFixed(1) + '</td>' +\n  '<td style=\"padding:8px;text-align:center;border-bottom:1px solid #1E1E2D;color:#9494AD\">' + (t.estimated_minutes || 30) + 'm</td>' +\n  '<td style=\"padding:8px;text-align:center;border-bottom:1px solid #1E1E2D;color:#6A6A80\">' + (t.project_tag || '') + '</td></tr>'\n).join('');\n\n// --- Content Drafts (FULL content) ---\nconst draftCards = allDrafts.map(d => {\n  const body = (d.body || '').replace(/\\n/g, '<br>');\n  const scoreText = d.hook_score ? Math.round(d.hook_score * 100) + '%' : 'N/A';\n  return '<div style=\"background:#111118;border-radius:12px;padding:20px;margin-bottom:16px;border-left:3px solid #A855F7\">' +\n    '<div style=\"margin-bottom:12px\"><span style=\"color:#E4E4E7;font-weight:700;font-size:16px\">' + d.title + '</span>' +\n    '<span style=\"color:#A855F7;font-size:11px;background:#A855F720;padding:2px 8px;border-radius:12px;margin-left:8px\">' + d.platform + '</span>' +\n    '<span style=\"color:#6A6A80;font-size:11px;margin-left:8px\">' + (d.content_type || '') + ' &middot; Hook: ' + scoreText + '</span></div>' +\n    (d.hook ? '<div style=\"color:#C084FC;font-style:italic;font-size:14px;margin-bottom:12px;padding:10px;background:#A855F708;border-radius:8px\">&ldquo;' + d.hook + '&rdquo;</div>' : '') +\n    '<div style=\"color:#9494AD;font-size:13px;line-height:1.6\">' + body + '</div>' +\n    (d.hashtags ? '<div style=\"color:#6A6A80;font-size:11px;margin-top:10px\">' + d.hashtags + '</div>' : '') +\n    (d.cta ? '<div style=\"color:#06B6D4;font-size:12px;margin-top:8px;font-weight:600\">CTA: ' + d.cta + '</div>' : '') +\n  '</div>';\n}).join('');\n\n// --- Schedule ---\nconst scheduleRows = schedule.slice(0, 10).map(s => {\n  const date = s.scheduled_at ? new Date(s.scheduled_at).toLocaleDateString('en-US', {weekday: 'short', month: 'short', day: 'numeric'}) : '';\n  return '<tr><td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;color:#9494AD;font-size:12px;width:100px\">' + date + '</td>' +\n    '<td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;color:#E4E4E7;font-size:13px\">' + s.title + '</td>' +\n    '<td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;color:#A855F7;font-size:11px;text-align:center\">' + (s.platform || '') + '</td>' +\n    '<td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;font-size:11px;text-align:center;color:' + (s.status === 'scheduled' ? '#F59E0B' : '#10B981') + '\">' + (s.status || '') + '</td></tr>';\n}).join('');\n\n// --- Market Gaps ---\nconst gapCards = gaps.slice(0, 5).map(g => {\n  const score = g.opportunity_score ? Math.round(g.opportunity_score * 100) + '%' : '';\n  return '<div style=\"background:#111118;border-radius:8px;padding:12px;margin-bottom:8px;border-left:3px solid #EC4899\">' +\n    '<div style=\"color:#E4E4E7;font-size:13px;font-weight:600\">' + g.description + '</div>' +\n    (g.suggested_action ? '<div style=\"color:#9494AD;font-size:12px;margin-top:6px\">Action: ' + g.suggested_action + '</div>' : '') +\n    '<div style=\"color:#6A6A80;font-size:11px;margin-top:4px\">' + (g.source || '') + (score ? ' &middot; Opportunity: ' + score : '') + '</div>' +\n  '</div>';\n}).join('');\n\n// --- GitHub Repos ---\nconst repoRows = repos.map(r => {\n  const daysAgo = r.last_commit_at ? Math.round((Date.now() - new Date(r.last_commit_at).getTime()) / 86400000) : '?';\n  return '<tr><td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;color:#E4E4E7;font-size:13px;font-weight:600\">' + r.name + '</td>' +\n    '<td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;color:#9494AD;font-size:12px\">' + (r.last_commit_message || '').slice(0, 40) + '</td>' +\n    '<td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;color:#6A6A80;font-size:11px;text-align:center\">' + daysAgo + 'd ago</td>' +\n    '<td style=\"padding:6px 8px;border-bottom:1px solid #1E1E2D;color:#F59E0B;font-size:11px;text-align:center\">' + (r.stars || 0) + '</td></tr>';\n}).join('');\n\n// --- Goals ---\nconst goalRows = goals.map(g =>\n  '<div style=\"display:flex;justify-content:space-between;padding:6px 0;border-bottom:1px solid #1E1E2D\">' +\n  '<span style=\"color:#E4E4E7;font-size:13px\">' + g.title + '</span>' +\n  '<span style=\"color:' + (g.progress >= 0.5 ? '#10B981' : g.progress > 0 ? '#F59E0B' : '#6A6A80') + ';font-weight:bold;font-size:13px\">' + Math.round(g.progress * 100) + '%</span></div>'\n).join('');\nconst monthGoalRows = goalsMonth.map(g =>\n  '<div style=\"display:flex;justify-content:space-between;padding:6px 0;border-bottom:1px solid #1E1E2D\">' +\n  '<span style=\"color:#E4E4E7;font-size:13px\">' + g.title + '</span>' +\n  '<span style=\"color:' + (g.progress >= 0.5 ? '#10B981' : g.progress > 0 ? '#F59E0B' : '#6A6A80') + ';font-weight:bold;font-size:13px\">' + Math.round(g.progress * 100) + '%</span></div>'\n).join('');\n\n// --- Blockers ---\nconst blockerRows = blockers.map(p =>\n  '<div style=\"background:#F59E0B15;border-left:3px solid #F59E0B;padding:10px 12px;border-radius:8px;margin-bottom:8px\">' +\n  '<span style=\"color:#F59E0B;font-weight:600;font-size:13px\">' + p.name + ':</span> ' +\n  '<span style=\"color:#9494AD;font-size:13px\">' + p.blockers + '</span></div>'\n).join('');\n\n// --- AI Suggestions ---\nconst suggestionRows = suggestions.map(s =>\n  '<div style=\"background:#A855F710;border-left:3px solid #A855F7;padding:10px 12px;border-radius:8px;margin-bottom:8px\">' +\n  '<span style=\"color:#E4E4E7;font-size:13px\">' + s.body + '</span></div>'\n).join('');\n\n// --- News ---\nconst newsRows = briefing.map(b =>\n  '<div style=\"padding:8px 0;border-bottom:1px solid #1E1E2D\">' +\n  '<div style=\"color:#E4E4E7;font-size:13px;font-weight:600\">' + b.headline + '</div>' +\n  (b.summary ? '<div style=\"color:#9494AD;font-size:12px;margin-top:2px\">' + b.summary + '</div>' : '') +\n  (b.suggested_action ? '<div style=\"color:#06B6D4;font-size:11px;margin-top:4px\">Action: ' + b.suggested_action + '</div>' : '') +\n  '</div>'\n).join('');\n\n// --- BUILD EMAIL ---\nconst emailHtml = '<div style=\"font-family:-apple-system,BlinkMacSystemFont,sans-serif;max-width:700px;margin:0 auto;background:#0A0A0B;color:#E4E4E7;padding:32px;border-radius:16px\">' +\n\n'<div style=\"text-align:center;margin-bottom:32px\">' +\n'<h1 style=\"color:#A855F7;font-size:28px;margin:0\">Operator Briefing</h1>' +\n'<p style=\"color:#6A6A80;font-size:14px;margin:8px 0 0\">' + new Date().toLocaleDateString('en-US', {weekday: 'long', month: 'long', day: 'numeric', year: 'numeric'}) + '</p>' +\n'<p style=\"color:#9494AD;font-size:13px;margin:4px 0 0\">' + tasks.length + ' tasks &middot; ' + focusTime + ' focus time &middot; ' + allDrafts.length + ' drafts &middot; ' + schedule.length + ' scheduled &middot; ' + repos.length + ' repos</p></div>' +\n\n// Game Plan\n'<div style=\"background:#111118;border-radius:12px;padding:20px;margin-bottom:24px\">' +\n'<h2 style=\"color:#E4E4E7;font-size:18px;margin:0 0 16px;border-bottom:1px solid #222;padding-bottom:8px\">Today\\'s Game Plan</h2>' +\n(top3.length > 0 ? '<table style=\"width:100%;border-collapse:collapse\">' + gamePlan + '</table>' : '<p style=\"color:#6A6A80\">Hit AI Generate to get your priorities.</p>') + '</div>' +\n\n// Blockers\n(blockers.length > 0 ? '<div style=\"margin-bottom:24px\"><h2 style=\"color:#F59E0B;font-size:16px;margin:0 0 12px\">Blockers (' + blockers.length + ')</h2>' + blockerRows + '</div>' : '') +\n\n// All Tasks\n'<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:12px\">All Priority Tasks (' + tasks.length + ')</h2>' +\n'<table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">' +\n'<tr style=\"color:#6A6A80;font-size:11px;text-transform:uppercase\"><th style=\"text-align:left;padding:8px\">Task</th><th style=\"padding:8px;width:50px\">Score</th><th style=\"padding:8px;width:50px\">Time</th><th style=\"padding:8px;width:80px\">Project</th></tr>' +\ntaskRows + '</table>' +\n\n// Content Drafts (full)\n'<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:12px\">Content Drafts (' + allDrafts.length + ')</h2>' +\n(draftCards || '<p style=\"color:#6A6A80\">No pending drafts.</p>') +\n'<div style=\"margin-bottom:24px\"></div>' +\n\n// Schedule\n(schedule.length > 0 ? '<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:12px\">Schedule (' + schedule.length + ' items)</h2>' +\n'<table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">' +\n'<tr style=\"color:#6A6A80;font-size:11px;text-transform:uppercase\"><th style=\"text-align:left;padding:6px 8px\">Date</th><th style=\"text-align:left;padding:6px 8px\">Title</th><th style=\"padding:6px 8px\">Platform</th><th style=\"padding:6px 8px\">Status</th></tr>' +\nscheduleRows + '</table>' : '') +\n\n// Market Gaps\n(gaps.length > 0 ? '<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:12px\">Market Intelligence (' + gaps.length + ' gaps)</h2>' +\ngapCards + '<div style=\"margin-bottom:24px\"></div>' : '') +\n\n// GitHub\n(repos.length > 0 ? '<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:12px\">GitHub Progress (' + repos.length + ' repos)</h2>' +\n'<table style=\"width:100%;border-collapse:collapse;margin-bottom:24px\">' +\n'<tr style=\"color:#6A6A80;font-size:11px;text-transform:uppercase\"><th style=\"text-align:left;padding:6px 8px\">Repo</th><th style=\"text-align:left;padding:6px 8px\">Last Commit</th><th style=\"padding:6px 8px\">When</th><th style=\"padding:6px 8px\">Stars</th></tr>' +\nrepoRows + '</table>' : '') +\n\n// Goals\n'<div style=\"margin-bottom:24px\">' +\n'<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:8px\">Weekly Goals</h2>' +\n(goalRows || '<p style=\"color:#6A6A80;font-size:13px\">No weekly goals.</p>') +\n'<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:8px;margin-top:16px\">Monthly Goals</h2>' +\n(monthGoalRows || '<p style=\"color:#6A6A80;font-size:13px\">No monthly goals.</p>') + '</div>' +\n\n// Suggestions\n(suggestions.length > 0 ? '<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:12px\">AI Suggestions</h2>' + suggestionRows + '<div style=\"margin-bottom:24px\"></div>' : '') +\n\n// News\n(briefing.length > 0 ? '<h2 style=\"color:#E4E4E7;font-size:16px;border-bottom:1px solid #222;padding-bottom:8px;margin-bottom:12px\">Industry News</h2>' + newsRows + '<div style=\"margin-bottom:24px\"></div>' : '') +\n\n// Footer\n'<div style=\"text-align:center;padding-top:16px;border-top:1px solid #1E1E2D\">' +\n'<p style=\"color:#6A6A80;font-size:11px\">Generated by Operator Dashboard AI</p></div>' +\n\n'</div>';\n\n// --- SMS text (short version for Twilio) ---\nconst smsText = 'Daily Focus — ' + new Date().toLocaleDateString('en-US', {weekday: 'short', month: 'short', day: 'numeric'}) + '\\n\\n' +\n  top3.map((t, i) => (i+1) + '. ' + t.title + ' (' + (t.estimated_minutes || 30) + 'm)').join('\\n') +\n  '\\n\\n' + tasks.length + ' tasks · ' + focusTime + ' focus time' +\n  (blockers.length > 0 ? '\\n⚠ ' + blockers.length + ' blocker(s)' : '') +\n  '\\nReply: done 1, add [task], tasks';\n\nreturn [{ json: { emailHtml, emailSubject: 'Operator Briefing — ' + new Date().toLocaleDateString('en-US', {month: 'short', day: 'numeric'}), smsText, taskCount: tasks.length } }];"
      },
      "id": "6",
      "name": "Format Briefing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "sendTo": "={{ CHANGE_ME_TO_YOUR_EMAIL }}",
        "subject": "={{ $json.emailSubject }}",
        "emailType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "7",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/={{ $env.TWILIO_SID || 'CHANGE_ME_TWILIO_SID' }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "To", "value": "={{ $env.TWILIO_TO || 'CHANGE_ME_PHONE' }}" },
            { "name": "MessagingServiceSid", "value": "={{ $env.TWILIO_MESSAGING_SID || 'CHANGE_ME_MESSAGING_SID' }}" },
            { "name": "Body", "value": "={{ $json.smsText }}" }
          ]
        },
        "options": {}
      },
      "id": "11",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1320, 500]
    }
  ],
  "connections": {
    "Every Morning 7am": {
      "main": [[{"node": "Trigger AI Generate", "type": "main", "index": 0}]]
    },
    "Trigger AI Generate": {
      "main": [[{"node": "Wait 3 min", "type": "main", "index": 0}]]
    },
    "Wait 3 min": {
      "main": [[{"node": "Fetch Dashboard", "type": "main", "index": 0}]]
    },
    "Fetch Dashboard": {
      "main": [[{"node": "Fetch Drafts", "type": "main", "index": 0}]]
    },
    "Fetch Drafts": {
      "main": [[{"node": "Fetch Schedule", "type": "main", "index": 0}]]
    },
    "Fetch Schedule": {
      "main": [[{"node": "Fetch Market Gaps", "type": "main", "index": 0}]]
    },
    "Fetch Market Gaps": {
      "main": [[{"node": "Fetch GitHub", "type": "main", "index": 0}]]
    },
    "Fetch GitHub": {
      "main": [[{"node": "Format Briefing", "type": "main", "index": 0}]]
    },
    "Format Briefing": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}, {"node": "Send SMS", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
