n8n/whatsapp-reply-handler.json
{
  "name": "WhatsApp Reply Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "1",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst message = body.entry?.[0]?.changes?.[0]?.value?.messages?.[0];\n\nif (!message || message.type !== 'text') {\n  return [{ json: { action: 'ignore' } }];\n}\n\nconst text = message.text.body.trim().toLowerCase();\nconst from = message.from;\n\nlet action = 'unknown';\nlet taskNum = null;\nlet taskTitle = null;\n\nconst doneMatch = text.match(/^done\\s*(\\d+)/);\nconst addMatch = text.match(/^(?:add|focus)\\s+(.+)/);\n\nif (doneMatch) {\n  action = 'complete';\n  taskNum = parseInt(doneMatch[1]);\n} else if (addMatch) {\n  action = 'add';\n  taskTitle = addMatch[1];\n} else if (text === 'tasks' || text === 'status') {\n  action = 'list';\n}\n\nreturn [{ json: { action, taskNum, taskTitle, from } }];"
      },
      "id": "2",
      "name": "Parse Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Parse Command').first().json;\nconst action = data.action;\n\nconst API = 'http://backend:8000';\n\nif (action === 'complete') {\n  // Fetch tasks, find the Nth one, mark done\n  const resp = await fetch(API + '/tasks/?status=pending');\n  const tasks = await resp.json();\n  const sorted = tasks.sort((a, b) => b.priority_score - a.priority_score);\n  const task = sorted[data.taskNum - 1];\n  if (!task) return [{ json: { reply: 'No task #' + data.taskNum + '. You have ' + sorted.length + ' tasks.' } }];\n  await fetch(API + '/tasks/' + task.id, { method: 'PATCH', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({status: 'done'}) });\n  return [{ json: { reply: '✅ Done: ' + task.title } }];\n}\n\nif (action === 'add') {\n  await fetch(API + '/tasks/', { method: 'POST', headers: {'Content-Type': 'application/json'}, body: JSON.stringify({title: data.taskTitle, priority_score: 7.0, status: 'pending', estimated_minutes: 30}) });\n  return [{ json: { reply: '➕ Added: ' + data.taskTitle } }];\n}\n\nif (action === 'list') {\n  const resp = await fetch(API + '/tasks/?status=pending');\n  const tasks = await resp.json();\n  const sorted = tasks.sort((a, b) => b.priority_score - a.priority_score);\n  const list = sorted.map((t, i) => (i+1) + '. ' + t.title + ' (' + t.priority_score.toFixed(1) + ')').join('\\n');\n  return [{ json: { reply: '*Your Tasks:*\\n\\n' + (list || 'No pending tasks.') } }];\n}\n\nreturn [{ json: { reply: 'Commands: done 1, add [task], tasks' } }];"
      },
      "id": "3",
      "name": "Handle Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "phoneNumberId": "={{ $env.WHATSAPP_PHONE_ID }}",
        "recipientPhoneNumber": "={{ $('Parse Command').first().json.from }}",
        "textBody": "={{ $json.reply }}"
      },
      "id": "4",
      "name": "Reply WhatsApp",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [660, 300]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [[{"node": "Parse Command", "type": "main", "index": 0}]]
    },
    "Parse Command": {
      "main": [[{"node": "Handle Action", "type": "main", "index": 0}]]
    },
    "Handle Action": {
      "main": [[{"node": "Reply WhatsApp", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
